torch>=2.0.1
torchvision>=0.15.2
torchaudio>=2.0.2
pytorch-lightning==1.9.5
monai==1.1.0
schedulefree==1.2.6
nibabel>=5.1.0
numpy>=1.22.4
scipy>=1.9.0
scikit-image>=0.18.3
scikit-learn>=1.0
pandas>=1.4.3
pyyaml>=6.0
wandb>=0.15.4
cc3d>=3.12.1
torchio>=0.18.86
einops
tqdm
matplotlib
